extends layout.pug

block content
  .page-wrapper
    .preloader
    
    section.main-slider(data-start-height='850', data-slide-overlay='yes')
      .tp-banner-container
        .tp-banner
          ul
            li(data-transition='fade', data-slotamount='1', data-masterspeed='1000', data-thumb='images/main-slider/image-1.jpg', data-saveperformance='off', data-title='Awesome Title Here')
              img(src='http://res.cloudinary.com/due1qfixq/image/upload/c_scale,w_1500/v1490759106/will-fuller-42035_1_exvcab.jpg', alt='', data-bgposition='center top', data-bgfit='cover', data-bgrepeat='no-repeat')
              .tp-caption.sfl.sfb.tp-resizeme(data-x='left', data-hoffset='200', data-y='center', data-voffset='-110', data-speed='1500', data-start='500', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.3', data-endspeed='1200', data-endeasing='Power4.easeIn')
                h3 Fred Meijer
              .tp-caption.sfl.sfb.tp-resizeme(data-x='left', data-hoffset='200', data-y='center', data-voffset='-40', data-speed='1500', data-start='500', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.3', data-endspeed='1200', data-endeasing='Power4.easeIn')
                h2 River Valley Rail Trails
              .tp-caption.sfr.sfb.tp-resizeme(data-x='left', data-hoffset='400', data-y='center', data-voffset='20', data-speed='1500', data-start='500', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.3', data-endspeed='1200', data-endeasing='Power4.easeIn')
                //- .text.text-center Start recycling today and protect our environment
              .tp-caption.sfr.sfb.tp-resizeme(data-x='left', data-hoffset='400', data-y='center', data-voffset='90', data-speed='1500', data-start='1000', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.3', data-endspeed='1200', data-endeasing='Power4.easeIn')
                a.theme-btn.btn-style-two(href='https://paypal.me/fmrvrt') Donate Today
                |  &ensp;&ensp; 
                a.theme-btn.btn-style-three(href='https://drive.google.com/file/d/0B03-djLC8T3XcFBnUVRFck91X3M/view?usp=sharing' target='_blank') Learn More
            //- li(data-transition='fade', data-slotamount='1', data-masterspeed='1000', data-thumb='images/main-slider/image-2.jpg', data-saveperformance='off', data-title='Awesome Title Here')
            //-   img(src='images/main-slider/image-2.jpg', alt='', data-bgposition='center top', data-bgfit='cover', data-bgrepeat='no-repeat')
            //-   .tp-caption.sfl.sfb.tp-resizeme(data-x='center', data-hoffset='0', data-y='center', data-voffset='-80', data-speed='1500', data-start='500', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.3', data-endspeed='1200', data-endeasing='Power4.easeIn')
            //-     h3 Save the environment
            //-   .tp-caption.sfl.sfb.tp-resizeme(data-x='center', data-hoffset='0', data-y='center', data-voffset='-10', data-speed='1500', data-start='500', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.3', data-endspeed='1200', data-endeasing='Power4.easeIn')
            //-     h2.no-border
            //-       | Grow 
            //-       span.theme_color Trees
            //-       |  For YOur 
            //-       span.theme_color Future
            //-   .tp-caption.sfr.sfb.tp-resizeme(data-x='center', data-hoffset='0', data-y='center', data-voffset='80', data-speed='1500', data-start='1000', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.3', data-endspeed='1200', data-endeasing='Power4.easeIn')
            //-     a.theme-btn.btn-style-two(href='#') Start Today
            //-     |  &ensp;&ensp; 
            //-     a.theme-btn.btn-style-three(href='#') Learn More
            //- li(data-transition='fade', data-slotamount='1', data-masterspeed='1000', data-thumb='images/main-slider/image-3.jpg', data-saveperformance='off', data-title='Awesome Title Here')
            //-   img(src='images/main-slider/image-3.jpg', alt='', data-bgposition='center top', data-bgfit='cover', data-bgrepeat='no-repeat')
            //-   .tp-caption.sfl.sfb.tp-resizeme(data-x='center', data-hoffset='0', data-y='center', data-voffset='-60', data-speed='1500', data-start='500', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.3', data-endspeed='1200', data-endeasing='Power4.easeIn')
            //-     h2.no-border
            //-       span.theme_color Green
            //-       |  Environment for Life
            //-   .tp-caption.sfr.sfb.tp-resizeme(data-x='center', data-hoffset='0', data-y='center', data-voffset='-10', data-speed='1500', data-start='500', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.3', data-endspeed='1200', data-endeasing='Power4.easeIn')
            //-     .text.alternate.text-center Ensure Green and Healthy Environment for Better Living
            //-   .tp-caption.sfr.sfb.tp-resizeme(data-x='center', data-hoffset='0', data-y='center', data-voffset='55', data-speed='1500', data-start='1000', data-easing='easeOutExpo', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.3', data-endspeed='1200', data-endeasing='Power4.easeIn')
            //-     a.theme-btn.btn-style-two(href='#') Start Today
            //-     |  &ensp;&ensp; 
            //-     a.theme-btn.btn-style-three(href='#') Learn More
          .tp-bannertimer
    section.about-section
      .auto-container
        .row.clearfix
          .content-column.col-md-6.col-sm-6.col-xs-12
            .inner-box
              .about-title
                h3
                  span
                    simpla-text(sid='about-section-subheading-1') 
                  span.theme_color
                    simpla-text(sid='about-section-subheading-2')
                h2
                  simpla-text(sid='about-section-heading')
              .text
                simpla-text(sid='about-section-text')
              a.theme-btn.btn-style-two(href='mailto:fmrvrt@gmail.com') CONTACT US
          .image-column.col-md-6.col-sm-6.col-xs-12
            .image.wow.fadeInRight(data-wow-delay='0ms', data-wow-duration='1500ms')
              img(src='http://res.cloudinary.com/due1qfixq/image/upload/c_scale,w_570/v1491460006/chad-madden-170954_1_tfbc2c.jpg', alt='')

    section.call-to-action(style='background-image:url(http://res.cloudinary.com/due1qfixq/image/upload/c_scale,w_1500/v1490759094/nathan-anderson-143699_1_m3qvdd.jpg)')
      .auto-container
        h2
          | THE BEST TIME TO 
          span.theme_color HELP US
          |  IS NOW
        .text The only way to finish this trail is to take action!
        .buttons-box
          a.theme-btn.btn-style-two(href='https://paypal.me/fmrvrt') Donate Today
          |  
          a.theme-btn.btn-style-three(href='https://drive.google.com/file/d/0B03-djLC8T3XcFBnUVRFck91X3M/view?usp=sharing' target='_blank') Learn More

    //- section.instagram-feed
    //-   .auto-container
    //-     .sec-title-two
    //-       h3 Follow us on Instagram
    //-       h2 PHOTOS FROM THE TRAIL
    //-     //- script(src='//lightwidget.com/widgets/lightwidget.js')
    //-     //- iframe.lightwidget-widget(src='//lightwidget.com/widgets/026e977d32b4593c928356a384af77c7.html', scrolling='no', allowtransparency='true', style='width: 100%; border: 0; overflow: hidden;')
    //-     script(src='https://snapwidget.com/js/snapwidget.js')
    //-     iframe.snapwidget-widget(src='https://snapwidget.com/embed/366557', allowtransparency='true', frameborder='0', scrolling='no', style='border:none; overflow:hidden; width:100%; ')


    section#gallery-section.gallery-section
      .auto-container.clearfix
        .pull-left
          h2 RECENT PROJECTS
        .pull-right
          .filters
            ul.filter-tabs.clearfix
              li.filter.active(data-role='button', data-filter='all') All
              li.filter(data-role='button', data-filter='.rvtb') River Valley Trail Boss
              li.filter(data-role='button', data-filter='.grvrt') Grand River Valley Rail Trail
              li.filter(data-role='button', data-filter='.frvrt') Flat River Valley Rail Trail
              li.filter(data-role='button', data-filter='.lara') Lowell Area Recreation Authority

      .images-container
        .filter-list.clearfix
          .col-lg-6.col-md-6.col-sm-12.col-xs-12.gallery-item.mix.mix_all.all.rvtb
            .inner-box
              .image(style='background-image: url(https://68.media.tumblr.com/c6254d9ab49fae7e9fe1dc0e8a11c4d0/tumblr_opm4acXDi11woz4ijo1_1280.jpg')
                img(src='images/gallery/2.jpg'  alt='')
                .overlay-box
                  .content
                    h3
                      a(href='https://rivervalleytrailboss.tumblr.com/post/160427716477/motation' target='_blank') Motation
                    |  
                    span.category River Valley Trail Boss
          .col-lg-3.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.mix_all.grvrt
            .inner-box
              .image(style='background-image: url(http://res.cloudinary.com/due1qfixq/image/upload/v1493160359/8d3ba2d82ea92e1caed670da96e670f9_dhyvuy.jpg)')
                img(src='images/gallery/2.jpg', alt='')
                .overlay-box
                  .content
                    h3
                      a(href='https://flatriverrailtrail.tumblr.com/post/160228124660/our-trail-network' target='_blank') fred meijer grand river valley rail trail__https
                    |  
                    span.category Flat River Valley Rail Trail News
          .col-lg-3.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.mix_all.frvrt
            .inner-box
              .image(style='background-image: url(https://68.media.tumblr.com/5b6753ed4fb42445fcb6db2e908f98da/tumblr_opbrrnyCQw1wozz9so1_400.jpg)')
                img(src='images/gallery/3.jpg', alt='')
                .overlay-box
                  .content
                    h3
                      a(href='https://grandrivertrail.tumblr.com/post/160226466688/one-of-our-members-got-some-nice-photos-last-week' target='_blank') One of our members got some nice photos last week riding from Saranac to Pewamo. Thanks for the contribution, Gail!
                    |  
                    span.category Grand River Valley Rail Trail News
          .col-lg-3.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.mix_all.lara
            .inner-box
              .image(style = 'background-image: url(https://68.media.tumblr.com/74b43540c9cb295e4ae5d0f910e62c32/tumblr_opm4knlhu71wozyrqo1_1280.jpg)')
                img( src='images/gallery/2.jpg' , alt='')
                .overlay-box
                  .content
                    h3
                      a(href='https://lowelllara.tumblr.com/post/160427912227/meet-me-at-spaghetti-junction-just-follow-the' target='_blank') Meet me at spaghetti junction. Just follow the map.
                    |  
                    span.category Lowell Area Recreation Authority News
          .col-lg-3.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.mix_all.rvtb
            .inner-box
              .image(style = 'background-image: url(https://68.media.tumblr.com/fee9bc8156b56824603f9349bf624a47/tumblr_opm40nLHkF1woz4ijo1_1280.jpg)')
                img(src='images/gallery/5.jpg', alt='')
                .overlay-box
                  .content
                    h3
                      a(href='https://rivervalleytrailboss.tumblr.com/post/160427538447/my-name-is-robert-and-i-want-a-chipper-just-like') My name is Robert, and I want a chipper. Just like this one
                    |  
                    span.category The Director's Chair
          //- .col-lg-3.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.mix_all.all.rvtb
          //-   .inner-box
          //-     .image
          //-       img(src='https://68.media.tumblr.com/fee9bc8156b56824603f9349bf624a47/tumblr_opm40nLHkF1woz4ijo1_1280.jpg', alt='')
          //-       .overlay-box
          //-         .content
          //-           h3
          //-             a(href='https://rivervalleytrailboss.tumblr.com/post/160427538447/my-name-is-robert-and-i-want-a-chipper-just-like') My name is Robert, and I want a chipper. Just like this one
          //-           |  
          //-           span.category River Valley Trail Boss


      //- .images-container
      //-   .filter-list.clearfix
      //-     .col-lg-6.col-md-6.col-sm-12.col-xs-12.gallery-item.mix.mix_all.all.rvtb
      //-       .inner-box
      //-         .image
      //-           img(src='images/gallery/1.jpg', alt='')
      //-           .overlay-box
      //-             .content
      //-               h3
      //-                 a(href='') Plant Seedling And Growth
      //-               |  
      //-               span.category Nature, Plant Seedling
      //-     .col-lg-3.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.mix_all.grvrt
      //-       .inner-box
      //-         .image
      //-           img(src='images/gallery/2.jpg', alt='')
      //-           .overlay-box
      //-             .content
      //-               h3
      //-                 a(href='project-single.html') Plant Seedling And Growth
      //-               |  
      //-               span.category Nature, Plant Seedling
      //-     .col-lg-3.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.mix_all.frvrt
      //-       .inner-box
      //-         .image
      //-           img(src='images/gallery/3.jpg', alt='')
      //-           .overlay-box
      //-             .content
      //-               h3
      //-                 a(href='project-single.html') Plant Seedling And Growth
      //-               |  
      //-               span.category Nature, Plant Seedling
      //-     .col-lg-3.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.mix_all.lara
      //-       .inner-box
      //-         .image
      //-           img(src='images/gallery/4.jpg', alt='')
      //-           .overlay-box
      //-             .content
      //-               h3
      //-                 a(href='project-single.html') Plant Seedling And Growth
      //-               |  
      //-               span.category Nature, Plant Seedling
      //-     .col-lg-3.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.mix_all.rvbt
      //-       .inner-box
      //-         .image
      //-           img(src='images/gallery/5.jpg', alt='')
      //-           .overlay-box
      //-             .content
      //-               h3
      //-                 a(href='project-single.html') Plant Seedling And Growth
      //-               |  
      //-               span.category Nature, Plant Seedling


    section.team-section
      .auto-container
        .sec-title
          h3 The Michigan Trail Family
          h2 Our Regional Network
        .row.clearfix

          -
            var trails = [
              {
                name: 'FM Clinton-Ionia-Shiawassee', 
                url: 'http://www.cistrail.org', 
                abbreviation: 'CIS', 
                image: 'http://res.cloudinary.com/due1qfixq/image/upload/v1493160359/8d3ba2d82ea92e1caed670da96e670f9_dhyvuy.jpg',
                facebook: 'https://www.facebook.com/fmcistrail/',
                website: 'http://www.cistrail.org/'
              },
              {
                name: 'FM Heartland Trail', 
                url: 'http://www.fredmeijerheartlandtrail.org', 
                abbreviation: 'FMHT', 
                image: 'http://res.cloudinary.com/due1qfixq/image/upload/v1494299533/9311588686_1e95368825_k_ndcavd.jpg',
                website: 'http://www.westmichigantrails.com/Fred-Meijer-Heartland-Trail-62.php',
                facebook: 'https://www.facebook.com/Fred-Meijer-Heartland-Trail-106243959468119/'
              },
              {
                name: 'Lowell Area Rec. Authority', 
                url: 'http://www.lowellareatrailway.org', 
                abbreviation: 'LARA', 
                image:'http://res.cloudinary.com/due1qfixq/image/upload/v1493159756/IMG_2125_emlkmv.jpg',
                website: 'http://www.lowellareatrailway.org/',
                facebook: 'https://www.facebook.com/forwardlowell/'
              }  
            ]

          each trail in trails 

            .team-member.col-md-4.col-sm-6.col-xs-12
              .inner-box
                .image-box
                  a(href=trail.url target='_blank')
                    img(src=trail.image, alt=trail.name)
                  .overlay-box
                    .user-info
                      .text= trail.abbreviation
                      h4= trail.name
                    ul.social-icon-two
                      li
                        a(href=trail.website target='_blank')
                          span.fa.fa-external-link
                      li
                        a(href=trail.facebook target='_blank')
                          span.fa.fa-facebook
                  


    //- section.events-section(style='background-image:url(images/background/2.jpg)')
    //-   .auto-container
    //-     .sec-title-two
    //-       h3 Join Our Event
    //-       h2 
    //-         simpla-text(sid='upcoming-events') UPCOMING EVENTS
    //-     .events-carousel.owl-carousel.owl-theme
    //-       .event-block
    //-         .inner-box.clearfix
    //-           .image-column.col-md-6.col-sm-12.col-xs-12
    //-             .image
    //-               .featured Featured
    //-               |  
    //-               img(src='images/resource/slide-1.jpg', alt='')
    //-           .content-column.col-md-6.col-sm-12.col-xs-12
    //-             .inner
    //-               h3
    //-                 a(href='event-single.html')
    //-                   | RECYCLING PLASTIC AND WASTE MANAGEMENT FOR
    //-                   br
    //-                   |  THE CLEAN ENVIRONMENT
    //-               ul.post-meta
    //-                 li
    //-                   span.icon.flaticon-clock-1
    //-                   | 10.00am - 4.00pm
    //-                 li
    //-                   span.icon.flaticon-pin
    //-                   | 24, Western Street, Sanford, Florida
    //-               .text
    //-                 simpla-text(sid='slide-1-text') 
    //-               a.view-event(href='event-single.html') Continue Reading . . .
    //-             .time-box
    //-               strong 01
    //-               br
    //-               | Dec
    //-       .event-block
    //-         .inner-box.clearfix
    //-           .image-column.col-md-6.col-sm-12.col-xs-12
    //-             .image
    //-               .featured Featured
    //-               |  
    //-               img(src='images/resource/slide-1.jpg', alt='')
    //-           .content-column.col-md-6.col-sm-12.col-xs-12
    //-             .inner
    //-               h3
    //-                 a(href='event-single.html')
    //-                   | RECYCLING PLASTIC AND WASTE MANAGEMENT FOR
    //-                   br
    //-                   |  THE CLEAN ENVIRONMENT
    //-               ul.post-meta
    //-                 li
    //-                   span.icon.flaticon-clock-1
    //-                   | 10.00am - 4.00pm
    //-                 li
    //-                   span.icon.flaticon-pin
    //-                   | 24, Western Street, Sanford, Florida
    //-               .text
    //-                 | Contribution globalization cross-agency coordination conflict resolution rural honor. Country criteria diversity sustainable donors; empowerment complexity, climate change global leaders Bono pursue these aspirations deep engagement equity human being.
    //-               |  
    //-               a.view-event(href='event-single.html') Continue Reading . . .
    //-             .time-box
    //-               strong 01
    //-               br
    //-               | Dec
    //-       .event-block
    //-         .inner-box.clearfix
    //-           .image-column.col-md-6.col-sm-12.col-xs-12
    //-             .image
    //-               .featured Featured
    //-               |  
    //-               img(src='images/resource/slide-1.jpg', alt='')
    //-           .content-column.col-md-6.col-sm-12.col-xs-12
    //-             .inner
    //-               h3
    //-                 a(href='event-single.html')
    //-                   | RECYCLING PLASTIC AND WASTE MANAGEMENT FOR
    //-                   br
    //-                   |  THE CLEAN ENVIRONMENT
    //-               ul.post-meta
    //-                 li
    //-                   span.icon.flaticon-clock-1
    //-                   | 10.00am - 4.00pm
    //-                 li
    //-                   span.icon.flaticon-pin
    //-                   | 24, Western Street, Sanford, Florida
    //-               .text
    //-                 | Contribution globalization cross-agency coordination conflict resolution rural honor. Country criteria diversity sustainable donors; empowerment complexity, climate change global leaders Bono pursue these aspirations deep engagement equity human being.
    //-               |  
    //-               a.view-event(href='event-single.html') Continue Reading . . .
    //-             .time-box
    //-               strong 01
    //-               br
    //-               | Dec



    //- section.news-section
    //-   .auto-container
    //-     .sec-title
    //-       h3 Our News
    //-       h2 Recent Posts
    //-     .row.clearfix
    //-       .news-style-one.col-md-4.col-sm-6.col-xs-12
    //-         .inner-box.wow.fadeIn(data-wow-delay='0ms', data-wow-duration='1500ms')
    //-           .image-box
    //-             a(href='blog-detail.html')
    //-               img(src='images/resource/news-1.jpg', alt='')
    //-           .lower-content
    //-             .upper-box
    //-               .title Protect Nature
    //-               h3
    //-                 a(href='blog-detail.html') How to Recycle things
    //-               .text
    //-                 | Lifting people socialaize challenges democracy microloans fight against the malnutrition, think tank social truth dignity civic engagement.
    //-             .lower-box.clearfix
    //-               .pull-left
    //-                 .date
    //-                   span.icon.flaticon-business
    //-                   |  26.11.2016
    //-               .pull-right
    //-                 ul.news-info
    //-                   li
    //-                     a(href='#')
    //-                       span.icon.flaticon-communication
    //-                       | 6
    //-                   li
    //-                     a(href='#')
    //-                       span.icon.flaticon-heart-1
    //-                       | 10
    //-       .news-style-one.col-md-4.col-sm-6.col-xs-12
    //-         .inner-box.wow.fadeIn(data-wow-delay='300ms', data-wow-duration='1500ms')
    //-           .image-box
    //-             a(href='blog-detail.html')
    //-               img(src='images/resource/news-2.jpg', alt='')
    //-           .lower-content
    //-             .upper-box
    //-               .title Protect Nature
    //-               h3
    //-                 a(href='blog-detail.html') Controlling Water Pollution
    //-               .text
    //-                 | Lifting people socialaize challenges democracy microloans fight against the malnutrition, think tank social truth dignity civic engagement.
    //-             .lower-box.clearfix
    //-               .pull-left
    //-                 .date
    //-                   span.icon.flaticon-business
    //-                   |  26.11.2016
    //-               .pull-right
    //-                 ul.news-info
    //-                   li
    //-                     a(href='#')
    //-                       span.icon.flaticon-communication
    //-                       | 6
    //-                   li
    //-                     a(href='#')
    //-                       span.icon.flaticon-heart-1
    //-                       | 10
    //-       .news-style-one.col-md-4.col-sm-6.col-xs-12
    //-         .inner-box.wow.fadeIn(data-wow-delay='600ms', data-wow-duration='1500ms')
    //-           .image-box
    //-             a(href='blog-detail.html')
    //-               img(src='images/resource/news-3.jpg', alt='')
    //-           .lower-content
    //-             .upper-box
    //-               .title Planting Trees
    //-               h3
    //-                 a(href='blog-detail.html') How to Recycle things
    //-               .text
    //-                 | Lifting people socialaize challenges democracy microloans fight against the malnutrition, think tank social truth dignity civic engagement.
    //-             .lower-box.clearfix
    //-               .pull-left
    //-                 .date
    //-                   span.icon.flaticon-business
    //-                   |  26.11.2016
    //-               .pull-right
    //-                 ul.news-info
    //-                   li
    //-                     a(href='#')
    //-                       span.icon.flaticon-communication
    //-                       | 6
    //-                   li
    //-                     a(href='#')
    //-                       span.icon.flaticon-heart-1
    //-                       | 10
    